		html,
		body,
		#viewDiv {
		  padding: 0;
		  margin: 0;
		  height: 100%;
		  width: 100%;
		  font-family: verdana;
		}

		#topbar {
		  background: #fff;
		  position: absolute;
		  top: 15px;
		  right: 15px;
		  padding: 10px;
		}
		
		#info {
			  padding: 10px;
			
		}

		.action-button {
		  font-size: 16px;
		  background-color: transparent;
		  border: 1px solid #D3D3D3;
		  color: #6e6e6e;
		  height: 32px;
		  width: 32px;
		  text-align: center;
		  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
		}

		.action-button:hover,
		.action-button:focus {
		  background: #0079c1;
		  color: #e4e4e4;
		}

		.active {
		  background: #0079c1;
		  color: #e4e4e4;
		}
		
		.hide{
			display:none !important;
		}
		
	.highlight {
    border: 1px solid #FC4136; /* some kind of blue border */

    /* other CSS styles */

    /* round the corners */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;


    /* make it glow! */
    -webkit-box-shadow: 0px 0px 4px #FC4136;
       -moz-box-shadow: 0px 0px 4px #FC4136;
            box-shadow: 0px 0px 4px #FC4136; /* some variation of blue for the shadow */

}